/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-width {
  width: 100%;
}
.full-width-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-row {
  display: flex;
  gap: 16px; /* Adds space between form fields */
  width: 100%;
}

.half-width {
  flex: 1; /* Makes sure each field takes half the space */
  min-width: 0; /* Prevents overflow issues */
}
