/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-width {
  width: 100%;
}
.full-width-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-row {
  display: flex;
  gap: 16px; /* Adds space between form fields */
  width: 100%;
}

.half-width {
  flex: 1; /* Makes sure each field takes half the space */
  min-width: 0; /* Prevents overflow issues */
}
.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.auth-box {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.auth-buttons {
  display: flex; /* This will make buttons appear in a row */
  justify-content: space-between; /* Space between the buttons */
  width: 100%; /* Make the buttons the same width as the auth-box */
  gap: 10px; /* Space between buttons */
  margin-top: 20px; /* Space between auth-box and buttons */
}

.auth-buttons button {
  flex: 1; /* Make the buttons fill the space equally */
}
